<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>

<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        {% for user in results %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_at}}</td>
            <td><a href="user/{{user.id}}">Show</a><a href="user/{{user.id}}/edit">Edit</a><a href="user/{{user.id}}/delete">Delete</a></td>
        </tr>
        {% endfor %}
        <a href="/adduser">Add a New User</a>
    </table>
</body>

</html>