*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background-color: darkkhaki;
  border: 2px black solid;
  height: 200px;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.btns{
  text-align: center;
  margin: 2px;

}

.textbox{
  text-align: center;
  background-color: darkkhaki;
  border: 2px black solid;
  width: 400px;
  height: 125px;
}
