<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>New Ninja</title>
</head>

<body>
    <div>
        <h1>New Ninja</h1>
        <form action="/createninja" method="POST">
            <select name="dojo">
                {% for dojo in dojos%}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
            <label for="first_name">First_name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last_name:</label>
            <input type="text" name="last_name">
            <label for="age">Age:</label>
            <input type="text" name="age">
            <input type="submit" value="Create">
        </form>
        <a href="/home">Home</a>
    </div>
</body>

</html>