*{
    display: block;
    margin: 10px;
}

button#Search{
    
    border: rgb(43, 194, 144);
    color: rgb(43, 194, 144);
    background-color: white;
    width: 15%;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 15px;
}

button#Add{
    color: white;
    background-color: rgb(43, 194, 144);
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
    
}

button#Account{
    color: white;
    background-color: cornflowerblue;
    font-size: 20px;
    box-shadow: 10px 5px 5px black;
    padding: 5px 20px;
}