<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Great Number Game</title>
</head>

<body>
    <h1>Welcome to the Great Number Game!!!</h1>
    <h2>I am thinking of a number between 1 and 100</h2>
    <h2>Take a guess!</h2>
    {{session['message']|safe}}
    <form action="/message" method="POST" style="display: {{session['submit']}}">
        <input type="text" name="num">
        <input type="submit" value="Submit">
    </form>
</body>

</html>
