<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div>
        <h1>New Books</h1>
        <form action="/addbook" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title">
            <label for="num_pages">Number of pages:</label>
            <input type="number" name="num_of_pages">
            <input type="submit" value="Create">
        </form>
        <a href="/">Home</a>
    </div>
    <div>
        <h1>All Books</h1>
        <div>
            {% for book in books%}
                <a href="/books/{{book.id}}">{{book.title}}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>