<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <div>
        <h1>Welcome {{user.first_name}}</h1>
        <a href="/dashboard">dashboard</a>
        <a href="/logout">Logout</a>
    </div><br>
    <div>
        <h1>{{recipe.name}}</h1>
        <div>
            <h2>Description: {{recipe.descript}}</h2><br>
            <h2>Under 30 Minutes:
                {% if recipe.under_thirty == 'Y'%}
                    Yes
                {% else %}
                    No
                {% endif %}
            </h2><br>
            <h2>Instructions: {{recipe.instructions}}</h2><br>
            <h2>Date Made: {{recipe.date}}</h2>
        </div>

    </div>
</body>
</html>l