*{
    margin: 0;
    padding: 0;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardSqr{
    width: 100px;
    height: 100px;
    border: none;
}

.red{
    background-color: red;
}


.black{
    background-color: black;
}