.App {
  text-align: center;
  background-color: darkkhaki;
}

.singleTask{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.checkBoxBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
