#Contain{
    border: 3px solid black;
    height: 200px;
    width: 400px;
    
}

#white{

    background-color: white;
    display:inline-block;
    width: 33%;
    height: 200px;
    

}
#blue{

    background-color: blue;
    display: inline-block;
    width: 32%;
    height: 200px;
}

#red{

    background-color: red;
    display: inline-block;
    width:  33%;
    height: 200px;
}
