<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div>
        <h1>CodingDojo Wall</h1>
        <h2>Welcome, {{user.first_name}}!</h2>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <h2>{{message_count}} Message(s) for you</h2>
        {% for message in messages %}
        <div>
            <h2>{{message.user.first_name}} said <span>({{message.time_sent}} ago)</span>:</h2>
            <h3>{{message.message_text}}</h3>
            <form action="/deletemessage" method="POST">
                <input type="hidden" name="id" value="{{message.id}}">
                <input type="submit" value="Delete">
            </form>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Send Messages</h2>
        {% for user in users %}
            {% if user.id != session['user_id'] %}
            <div>
                <h2>{{user.first_name}}</h2>
                <form action="/sendmessage" method="POST">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <textarea name="message_text"  cols="10" rows="3"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>

</html>